<div id="<%= dom_id document %>">
  <p>
    <strong>Xlsx file:</strong>
    <%= link_to 'Download XLSX File', rails_blob_path(document.xlsx_file, disposition: 'attachment') %>

  </p>

  <p>
    <strong>Keywords:</strong>
    <%= document.keywords %>
  </p>

</div>
